.viind-web-chat {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer utilities {
    .break-words {
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  /* the following styling only works for the web */

  /* width */
  [data-scrollbar-styling='viind'] ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  [data-scrollbar-styling='viind'] ::-webkit-scrollbar-track {
    background: rgb(var(--viind-background));
  }

  /* Handle */
  [data-scrollbar-styling='viind'] ::-webkit-scrollbar-thumb {
    background: rgb(var(--viind-scrollbar-thumb));
    border-radius: 5px;
  }

  /* Handle on hover */
  [data-scrollbar-styling='viind'] ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--viind-foreground));
  }
}

:root {
  --viind-background: 255 255 255; /* #ffffff */
  --viind-foreground: 18 37 54; /* #122536 */
  /*
    Used whenever the primary color is used on the regular background
    This distinction exists as customers can change the color and maybe the new
    primary color does not go well with the regular background color.
    */
  --viind-foreground-primary: 3 79 136; /* #034f88 */
  --viind-primary: 3 79 136; /* #034f88 */
  --viind-primary-foreground: 255 255 255; /* #ffffff */
  --viind-user-message: 239 239 239; /* #efefef */
  --viind-user-message-foreground: 18 37 54; /* #122536 */
  --viind-bot-message: 220 233 247; /* #dce3f7 */
  --viind-bot-message-foreground: 18 37 54; /* #122536 */
  --viind-border: 239 239 239; /* #efefef */
  --viind-border-message: 166 181 193; /* #a6b5c1 */
  --viind-success: 210 240 205 /* #d2f0cd */;
  --viind-success-foreground: 50 80 46; /* #32502e */
  --viind-error: 255 224 224 /* #ffe0e0 */;
  --viind-error-foreground: 111 35 35; /* #6f2323 */
  --viind-scrollbar-thumb: 139 139 139; /* #8b8b8b */
  /**
   * Focus ring colors
   */
  --viind-bot-message-focus: 18 67 112; /* #124370 */
  --viind-background-focus: 18 67 112; /* #124370 */
  --viind-primary-focus: 179 221 255; /* #b3ddff */
}

.dark:root {
  /* not implemented yet */
  --viind-background: 255 255 255; /* #ffffff */
  --viind-foreground: 18 37 54; /* #122536 */
  /*
    Used whenever the primary color is used on the regular background
    This distinction exists as customers can change the color and maybe the new
    primary color does not go well with the regular background color.
    */
  --viind-foreground-primary: 3 79 136; /* #034f88 */
  --viind-primary: 3 79 136; /* #034f88 */
  --viind-primary-foreground: 255 255 255; /* #ffffff */
  --viind-user-message: 239 239 239; /* #efefef */
  --viind-user-message-foreground: 18 37 54; /* #122536 */
  --viind-bot-message: 220 233 247; /* #dce3f7 */
  --viind-bot-message-foreground: 18 37 54; /* #122536 */
  --viind-border: 239 239 239; /* #efefef */
  --viind-border-message: 166 181 193; /* #a6b5c1 */
  --viind-success: 210 240 205 /* #d2f0cd */;
  --viind-success-foreground: 50 80 46; /* #32502e */
  --viind-error: 255 224 224 /* #ffe0e0 */;
  --viind-error-foreground: 111 35 35; /* #6f2323 */
  --viind-scrollbar-thumb: 139 139 139; /* #8b8b8b */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('./assets/fonts/Roboto-Thin.ttf') format('truetype');
}
